input {
	width: 100%;
}

div.autocomplete {
	width: 550px;
	background-color: white;
}
.menu {
	position: relative;
	width: 100%;
	overflow: hidden;
	font-size: large;
	white-space: nowrap;
	border: 1px solid rgb(82,148,226);
	border-top: none;
}
.menuitem {

	font-family: monospace;
	width: 100%;
	overflow: hidden;
	padding: 3px;

}

.menuitem:hover {
	background-color:silver;
}