
.menu {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 90%;
    width: 640px;
	box-shadow: 3px 3px 10px #AAAAAA;
}

.menu input {
	position: relative;
	left: 1px;
	width: 95%;
	margin: 5px;
	border: none;
	color: black;
}

.menu div {
    width: calc(100%-3px);
    padding: 4px;
	color: #333333;
	white-space: pre;
	overflow: hidden;
}

.selected {
    background-color: silver;
}

.normal {
    background-color: white;
}