div.gmap {

	overflow: hidden;
}
span.gmap {
	position: absolute;

	bottom: 0px;
	right: 0px;
	padding-bottom: 30px;
	padding-right: 35px;
}


span.gmap:hover .zoom{

	visibility: visible;
}
.zoom {

	opacity: 0.2;
	visibility: hidden;
}

.zoom:hover {
	
	opacity: 1;

}